
    <div ng-if="album.data.spins">
      <h4>Spins: <span ng-bind="album.data.spins"></span> | Last Spun: <span ng-bind="album.data.last_spun | date:'medium'"></p></h4>

      <button class="album detail spin_button" ng-click="album.spin(album.data)">Spin it again!</button>
    </div>

    <div ng-if="!album.data.spins">
      <button class="album detail spin_button" ng-click="album.spin()">You should spin this one!</button>
    </div>



    <h1>{{album.data.album.title}}</h1>
    <h2>by {{album.data.album.artist.name}}</h2>
    <img ng-src="assets/{{album.data.album.cover}}">
