
<img class="card-img" ng-src="assets/{{data.album.cover}}" alt="Card image">
<div class="card-img-overlay card-inverse">
    <div class="alb-info">
            <div class="alb-details">
                <h4 class="card-title">{{data.album.title}} </h4>
                <h6 class="card-subtitle text-muted" data-artid="{{data.artist.id}}"> {{data.album.artist.name}}</h6>
            </div>
            <div class="alb-details spins">
                <h6 class="card-text text-muted" ng-if="data.spins" data-spins="{{data.spins}}">Spin Count: {{data.spins}}</h6>
                <h6 class="card-text text-muted" ng-if="data.spins">Last Spin: {{data.last_spun | date:'short'}}</h6>
            </div>
        <button type="button" class="spin btn btn-secondary">Spin it!</button>
    </div>
</div>
