<div id="albumfilter" class='filter_bar'>

    <input type="text" ng-model="$ctrl.search" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" placeholder='Search Your Albums'></input>

    <button class="btn-secondary" data-type="never">Show me albums I've never spun</button>
    <button class="btn-secondary" data-type="most">Show me my favorite albums</button>
    <button class="btn-secondary" data-type="alpha">Alpha by artist</button>
    <button class="btn-secondary" data-type="reset">Reset filters</button>


</div>

<div class="search-results" ng-show="$ctrl.search">
  <p>Search results: </p>
  <ul ng-repeat='album in albFilter.albums | filter:$ctrl.search '>
    
    <li class="search-results"><a href="" ui-sref="home.album({id: album.album.id})" class="search_results">Artist: {{ album.album.artist.name }} | Album: {{album.album.title}} <span ng-if="album.spins">| Last Listen: {{ album.last_spun | date: 'short' }} | Spins: {{album.spins}}</span> </li>
  </ul>
</div>