<h1>New Album</h1>

<form name="new-album" class="album album_new">

<label>Album Title</label>
    <input type = "title"
           required = 'true'
           ng-model = 'album.title'  /><br>
    <div ng-messages="$form.title.errors">
        <div ng-message='required'>Title Required</div>

    </div>


    <label>Artist Name</label>
    <input type = "artist"
           required = 'true'
           ng-model = 'album.artist'  /><br>
    <div ng-messages="$form.artist.errors">
        <div ng-message='required'>Title Required</div>

    </div>


    <label>Album Songs</label>
    <textarea  type = "album songs"
               required = 'true'
               ng-model = 'album.songs'  /><br>
    <div ng-messages="$form.title.errors">
        <div ng-message='required'>Title Required</div>
    </div>

    <input type='submit' value='Create it!' data-type="new_album" /><br>


</form>