<span class="home-errors" ng-show="home.errors">{{home.errors}}</span>


<div class= 'user_nav' id='user-nav'>
    <div  ng-show="currUser">
        <div ng-show="currUser.name ">
            <h3><a href="" ui-sref="home.user({id: currUser.id})">Hi {{ currUser.name }}</a></h3>
            <p>Collection size: {{ currUser.user_albums.length}} </p>
            <a href="" ui-sref="home.newalbum">Add a New Album</a>
            <p>Edit my profile</p>
            <p>Edit my collection</p>

        </div>

        <div ng-show="!currUser.name ">
            <label>Hey, you should choose a username</label>
                <p>edit user directive</p>
        </div>
        <button ng-click='home.logout()'>Log me out</span>
    </div>
<!--     <div ng-show="!currUser">
        <p>Heya! Sign up or Sign in: </p>
        <login></login>
    </div> -->
</div>

<ui-view></ui-view>


