<span class="home-errors" ng-show="home.errors">{{home.errors}}</span>

<nav role="navigation">
    <div class='user-nav' id='user-nav'>
        <div ng-show="currUser">
            <div ng-show="currUser.name ">
                <h3><a href="" ui-sref="home.user({id: currUser.id})">Hi {{ currUser.name }}</a></h3>
            </div>

            <div ng-show="!currUser.name ">
                <p>Hey, you should choose a username</p>
                    <p>edit user directive</p>
            </div>

            <div ng-show="!currUser.provider">
                <a href="/users/auth/spotify">This is even better if you add Spotify access</a>
            </div>

            <div ng-show="currUser.discogs.empty">
                <a href='discogs/auth'>Discogs is awesome you should sync it</a><br />
            </div>
            
            <a href="" ui-sref="home.newalbum">Add a New Album (manually)</a><br />
            <button class="btn btn-primary" ng-click='home.logout()'>Log me out</span>
        </div>
    </div>
</nav>

<ui-view></ui-view>


