<form name='devise_login' id='devise_login' ng-submit="home.authorize()" class="devise devise-login">
  <label>Username: </label>
      <input name='username'
                type='username'
                required='false'
                ng-maxlength='20'
                ng-trim
                ng-model='home.username' /> 
        {{ home.username }}  
      
        <div ng-show='devise_login.username.$dirty' ng-messages='devise_login.username.$error'>
            <div ng-message="required">Usernames are fun! And MANDATORY.</div>
            <div ng-message="maxlength">Dude, 20 characters is more than enough. Try again.</div>
        </div><br></br>

  <label>Email: </label>

      <input name='email'
                type='email'
                required='true'
                ng-model='home.email' />   
      
        <div ng-show='devise_login.email.$dirty' ng-messages='devise_login.email.$error'>
            <div ng-message="required">Gotta give us an email</div>
            <div ng-message='email'>I'll keep hassling you until this is a valid email</div>
        </div><br></br>

  <label>Password: </label>      
      <input name='password'
                type='password'
                required='required'
                ng-minlength='6'
                ng-maxlength='128'
                ng-model='home.password' />   
      
        <div ng-show='devise_login.password.$dirty' ng-messages='devise_login.password.$error'>
            <div ng-message="minlength">Too short!</div>
            <div ng-message="maxlength">Too long!</div>
            <div ng-message="required">You obviously need a password, dummy</div>
            
        </div><br></br>

  <input type='submit' value='Log me in!' data-type="login" />
  <!-- <input type='submit' value='Register!' data-type="register"> -->
</form>