<form name='devise_login' id='devise_login' ng-submit="session.authorize()" class="devise devise-login">

  <label>Email: </label>

      <input name='email'
                type='email'
                required='true'
                ng-model='session.user.email' />   
      
        <div ng-show='devise_login.email.$dirty' ng-messages='devise_login.email.$error'>
            <div ng-message="required">Gotta give us an email</div>
            <div ng-message='email'>I'll keep hassling you until this is a valid email</div>
        </div><br></br>

  <label>Password: </label>      
      <input name='password'
                type='password'
                required='required'
                ng-minlength='6'
                ng-maxlength='128'
                ng-model='session.user.password' />   
      
        <div ng-show='devise_login.password.$dirty' ng-messages='devise_login.password.$error'>
            <div ng-message="minlength">Too short!</div>
            <div ng-message="maxlength">Too long!</div>
            <div ng-message="required">You obviously need a password, dummy</div>
            
        </div><br></br>
  <input type='checkbox' id='new_user' value='register' ng-model='session.user.new'><label>I'm new here </label><br>

  <input type='submit' value='Get spinning!' data-type="login" />
  <!-- <input type='submit' value='Register!' data-type="register"> -->
</form>