
    <p>User.html</p>
    <div id="filter_bar">
<!--         <tabs active='0'>
            <tab></tab>
            <tab></tab>
            <tab></tab>

        </tabs> -->
    </div>

    <p>If user set, there should be crap below</p>
    <div ng-if='currUser' class='user albums_container' id='user albums_container'>
        <div albums data='user.currUser.albums'>  <!--// removed:  -->
            <!-- <album data='album'></album> -->
        </div>

        <div ng-show='!user.currUser.albums'>
            <a href='' ui-sref='library'>Get some damn records</a>
        <div>  
    </div>


    <!-- {{ user.currUser }} -->
    