    <p>If user set, there should be crap below</p>
    <albums-filter>filter!</albums-filter>
    <div ng-if='currUser' class='user albums_container' id='user albums_container'>

        <div albums data='user.displayAlbums' infinite-scroll='user.addMore()' infinite-scroll-distance='2'>  <!--// removed:  -->
            <!-- <album data='album'></album> -->
        </div>

        <div ng-show='!user.currUser.albums'>
            <a href='' ui-sref='library'>Get some damn records</a>
        <div>  
    </div>



    