<div ng-if='user.currUser && user.userAlbums'>
        <alb-filter-dir data="user.userAlbums"></alb-filter-dir>

        <div class="albums container-fluid">
            <div class="row">
                <div ng-repeat="album in user.displayAlbums" >
                      <div class="card cols col-sm-6 col-md-4 col-lg-4" album='album'></div>
                </div>
            </div> <!--row-->
        </div> <!--container-->

        <button class="albums-more btn btn-primary" ng-click="user.addMore()" id="show_more">Show me more!</button>
</div>

<div ng-show='!userAlbums'>
    <a href='' ui-sref='library'>Get some damn records</a>
<div>  







    