body {
  padding-top: 0px;
}


.user-nav {
  background-color: #FF5733;
/*  background-image: url(asset-path('original/background_nav.jpg'));
  background-size: cover;*/
}


/* ALBUM DISPLAY */
#user-albums-container {
  background-color: #F2F4F4;
  /*background-image: url(asset-path('original/background2.jpg'));
  background-size: contain;*/
}

/*.card.album-card {
  display: inline;
}

.alb-details {

}*/
albums {
  .container-fluid {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .row {
    margin-left: 1px;
    margin-right: 1px;

  }

  .cols {
    padding: 0px;
    margin: 0px;
  }

/*  .card-deck {
    width: 100%;
  }*/
}

.card-group  {
  /*width: 32%;*/
  /*display: inline-block;*/
}

.card img {
  width: 100%;
}

.card-block {
  padding: 10px;
}

/*.card-columns {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1px;
  column-gap: 1px;
}*/

.spins {
  margin-top: 5px;
  border-top-style: solid;
  border-top-color: #FF5733;
}

.search-results {
  background-color: #ECF0F1;
  opacity: .9;
}

.search-results p {
  color: #FF5733;
}


/*SIGNIN FORM*/

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

