body {
  padding-top: 0px;
}


.user-nav {
  background-color: #FF5733;
/*  background-image: url(asset-path('original/background_nav.jpg'));
  background-size: cover;*/
}


/* ALBUM DISPLAY */
#user-albums-container {
  background-color: #F2F4F4;
  /*background-image: url(asset-path('original/background2.jpg'));
  background-size: contain;*/
}

/*.card.album-card {
  display: inline;
}

.alb-details {

}*/
/*.album-square-wrapper{
  position: relative;

  .card {
    position: aboslute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}*/


albums {
  .container-fluid {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .row {
    margin-left: 1px;
    margin-right: 1px;

  }

  .cols {
    padding: 0px;
    margin: 0px;
  }

/*  .card-deck {
    width: 100%;
  }*/
}

.card {
  height: 100%;
  border-radius: 0;
  padding-bottom: 100%;
  background-color: black;

  display: flex;

  img {
    width: 100%;
    border-radius: 0;
    max-height: 100%;
    overflow: hidden;
  }

  div .alb-details {
    display: inline-block;
    width: 49%;
  }
}

.card:hover {
  img {
    opacity: 0.1;
  }
  .card-img-overlay {
    opacity: 1;
  }
}

.card-img-overlay {
  opacity: 0;
  padding: .25rem;

  h4 {
    font-size: 1.35rem;
  }

  h6 {
    font-size: 1.15rem;
  }

  button {
  display: block;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}
}


.spins {
  padding-left: 5px;
  border-left-style: solid;
  border-left-color: #FF5733;

  p {
    margin: 0;
  }
}

.search-results {
  background-color: #ECF0F1;
  opacity: .9;
}

.search-results p {
  color: #FF5733;
}

button.albums-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*SIGNIN FORM*/

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

