<!DOCTYPE html>
<html>
<head>
  <title>SpinnerAngular</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p>[navbar layout here]</p>
  <%= render 'layouts/messages' %>

rails views/layouts/application.html.erb

  <div ng-app="app">
    <ui-view></ui-view>
  </div>
  
</body>
</html>
